:root {
  --color-primary: #E62445;
  --color-bg: #F6F8FA;
  --color-black: #000000;

  --color-dark: #2F2F2F;
  --color-gray: #9CA3AF;
  --color-light: #F1ECE8;

  --font-title: 'Poppins', sans-serif;
  --font-text: 'Inter', sans-serif;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-black);
  font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-text);
  cursor: pointer;
}